.container {
  width: 195px;
  margin: 25px auto;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  height: 150px;
  width: 175px;
  margin: auto;
  padding: 10px;
}

.images img {
  vertical-align: middle;
  max-width: 175px;
  max-height: 150px;
  padding: 10px 5px;
}

.title {
  color: rgba(128, 128, 128, 0.7);
  transition: color 0.2s linear;
  text-align: center;
}

.container:hover .title {
  color: rgb(128, 128, 128);
}
