.title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  color: rgba(128, 128, 128, 0.7);
  font-style: italic;
  margin-bottom: 5px;
}

.slider {
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.list {
  display: flex;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.item {
  max-width: 175px;
  max-height: 190px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-left: none;
  overflow: hidden;
}

.item .model {
  text-align: start;
  font-size: 12px;
  color: #6c757d;
}

.image {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
}

.image img {
  margin: auto;
}

.model {
  height: 48px;
  padding: 2px 5px;
  overflow: hidden;
}
