.list {
  margin-bottom: 15px;
}

.item {
  width: 100%;
  height: 115px;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.body {
  display: flex;
}

.image {
  width: 100px;
  height: 100%;
  overflow: hidden;
  padding: 2px;
  margin: 3px;
}

.cont {
  width: 100%;
}

.contTop {
  display: flex;
  margin-bottom: 8px;
}

.title {
  height: 36px;
  overflow: hidden;
  margin-right: auto;
  padding: 6px;
}

.nav {
  display: flex;
}

.counter {
  margin-left: auto;
  margin-right: auto;
}

.price {
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
}

.number {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number[type='number'] {
  -moz-appearance: textfield;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.btn svg {
  fill: rgba(128, 128, 128, 1);
}

.remove {
  display: flex !important;
  align-items: center;
  padding: 3px !important;
  height: 35px;
}

.remove svg {
  width: 26px;
  height: 26px;
  background-color: transparent;
  padding: 2px;
  fill: #ffffff;
  border-radius: 25%;
}
