.top {
  display: block;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  flex-shrink: 0;
  width: 250px;
  margin: 0 0 0 10px;
  padding: 5px;
}

.sidebarContent {
  height: 100%;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.grid {
  flex: 1 auto;
  margin: 0 10px 0 0;
  padding: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  border-left: 1px solid #f4f4f4;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.paginate {
  display: flex;
  max-width: 600px;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.paginate li {
  border: 1px solid #f4f4f4;
  margin: 2px;
  padding: 4px;
  text-align: center;
  transition: border 0.2s linear;
}

.paginate li a {
  display: block;
  min-width: 32px;
  min-height: 32px;
  line-height: 2;
}

.paginate li:last-child,
.paginate li:first-child {
  width: 75px;
}

.paginate li:last-child {
  margin-left: auto;
}

.paginate li:first-child {
  margin-right: auto;
}

.paginate li:hover {
  border: 1px solid rgba(108, 117, 125, 0.5);
}

.paginate .active {
  background-color: #6c757d;
  color: #ffffff;
}
