.btn {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  padding: 8px 8px 6px 6px;
  border-radius: 25%;
  transition: background-color 0.2s linear;
}

.btn:hover,
.btn:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn svg {
  fill: #ffffff;
}

.badge {
  position: absolute;
  top: -2px;
  right: -8px;
  border-radius: 50% !important;
  height: 25px;
  width: 25px;
  line-height: 19px !important;
}
